body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Nuosu SIL', serif;
    border: 1px solid greenyellow;
  }
* {
    box-sizing: border-box;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  html {
    scroll-behavior: smooth; 
  }
  .nav-list {
    list-style: none;
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }
